@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
}

@layer components {
  .header.header_static {
    @apply relative;     
  }
  .header.header_static.is-sticky {
    @apply fixed;   
  } 
}

@layer utilities {
/* Common CSS Start */
.container-custom {
    @apply px-20;    
}        
/* Common CSS End */
/* Breadcrumbs Banner Start */
.breadcrunb-banner__image--main {
    @apply relative pt-[62.50%];                
  }
  .breadcrunb-banner__image--main img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
  }
  .breadcrunb-banner__title h1 {
    @apply text-[42px] lg:text-[52px] xl:text-[68px] xl:leading-[75px] leading-[100%];
  }    
  .breadcrunb-banner__desc p {
    @apply font-Inter text-White lg:text-18 lg:leading-[30px] text-[14px] leading-[20px] font-400 tracking-20 not-italic relative block mb-20 last:mb-0;
  }                                                                
  .breadcrunb-banner__contentmain::before {
    @apply content-[''] absolute lg:top-[-16px] top-10 lg:right-[-16px] right-0 border-0 lg:w-[59px] w-[39px] lg:h-[59px] h-[39px] lg:border-t-[8px] border-t-[5px] lg:border-r-[8px] border-r-[5px] border-solid border-Orange z-1;                                               
  }                    
/* Breadcrumbs Banner End */

/* Timeline Start */
.timeline__track {
    @apply absolute top-0 left-50_per translate-x-minus_50 h-full w-[17px] p-8 bg-Black bg-opacity-[0.051];                        
}                   
.timeline__track::before {
    @apply content-[''] absolute top-50_per translate-y-minus_50 left-50_per translate-x-minus_50 border-0 border-dashed border-l-1 border-Black border-opacity-50 h-[calc(100%_-_8px)] w-[1px];          
}                
.timeline__itemtitle h2 {
    @apply text-[32px] leading-40 xxl:text-[55px] xxl:leading-[65px] lg:text-34 lg:leading-44 font-500 text-Black;         
}   
.timeline__itemcontent h5 {
    @apply lg:text-[25px] lg:leading-34 text-18 leading-24 font-500 text-Black block lg:mb-10 mb-6;                  
}         
.timeline__itemcontent .content p {
    @apply text-Black;      
}
.timeline__itemrow:nth-child(odd) .timeline__element .timeline__itemmaingrid {
    @apply lg:flex-row-reverse;      
}          
.timeline__itemrow:nth-child(odd) .timeline__itemcontent {
    @apply lg:text-right text-left smscreen2:text-center;           
}
.timeline__itemrow:nth-child(even) .timeline__itemcontent {
    @apply text-left smscreen2:text-center;
}
.timeline__itemrow:nth-child(even) .timeline__itemtitle h2 {
    @apply text-Orange;                    
}
.timeline__itemrow:nth-child(even) .timeline__element:first-child {
    @apply lg:order-2;            
}    
.timeline__itemrow:nth-child(even) .timeline__element:last-child {
    @apply lg:order-1;
}     
.timeline__itemrow::before {
    @apply lg:content-[''] absolute top-50_per translate-y-minus_50 left-50_per translate-x-minus_50 w-[32px] h-[32px] rounded-50_per bg-White border-2 border-solid border-Black z-1;        
}
.timeline__itemrow:nth-child(even)::before {
    @apply lg:content-[''] border-Orange;    
}     
.timeline__itemmaingrid {
    @apply smscreen2:flex-col smscreen2:justify-center smscreen2:items-center;              
}
/* Timeline End */

/* About Zigzag Start */
.aboutzigzag__imagegrid::before {
    @apply content-[''] absolute sm:bottom-50 bottom-30 sm:left-0 left-10 lg:w-[304px] w-[204px] xl2:h-[454px] lg:h-[284px] h-[254px] bg-transparent border-2 border-solid border-White;                   
}                                  
.aboutzigzag__imagebig--inner {
    @apply relative pt-[101.10%] z-1;
}
.aboutzigzag__imagebig--inner img {
    @apply absolute top-0 left-0 w-full h-full object-cover;                  
}
.aboutzigzag__imagebig--inner::before {
    @apply content-[''] absolute -top-[10px] -right-[10px] w-[73px] h-[73px] lg:w-[146px] lg:h-[146px] border-0 border-solid border-White border-t-[20px] border-r-[20px] xxl:border-t-[40px] xxl:border-r-[40px] drop-shadow-big_w_orange_shadow z-1;              
}
.aboutzigzag__imagesmall {
    @apply absolute bottom-0 right-0;  
}
.aboutzigzag__imagesmall--inner {
    @apply sm:p-20 p-10 bg-Orange relative z-1;                
}
.aboutzigzag__imagesmall--inner img {
    @apply xl2:max-w-[250px] max-w-[180px] xl2:max-h-[250px] max-h-[180px] xl2:h-[250px] h-[180px] object-cover;                     
}                   
.aboutzigzag__pattern {
    @apply absolute top-[40%] translate-y-minus_50 right-0 w-full;               
}        
.aboutzigzag__pattern img {
    @apply object-contain lg:max-w-[56px] max-w-[36px] w-full mr-0 ml-auto;          
}
.aboutzigzag .title-White .pattern::before {
    @apply content-[''] border-White;           
}
/* About Zigzag End */

/* Vision Info Start */
.visioninfo__itemdigit h2 {
    @apply xl2:text-[130px] xl2:leading-[140px] xl:text-[60px] xl:leading-[70px] text-[46px] leading-[56px] font-700 font-Poppins text-Black flex items-end mdscreen:justify-center;        
}   
.visioninfo__itemdigit h2 span {
    @apply xl2:text-[100px] xl2:leading-[120px] xl:text-[50px] xl:leading-[60px] text-30 leading-[40px] font-600 font-Poppins text-Black;   
}                 
.visioninfo__itemdigit h6 {
    @apply xl:text-[25px] xl:leading-34 text-18 leading-26 font-600 font-Poppins text-Black uppercase xl2:mt-[-20px] mt-[-10px];       
}          
.visioninfo__itemcontent--title h4 {
    @apply xl:text-[25px] xl:leading-34 text-18 leading-26 font-600 font-Poppins text-Black;                             
}
.visioninfo__rowitem:not(:last-child) {
    @apply mb-35; 
}
.visioninfo__rowitem {
    @apply border-0 border-b-1 border-solid border-Black border-opacity-30 pb-35 flex items-center md:gap-x-[20px] md:gap-y-0 gap-y-[15px] mdscreen:flex-col mdscreen:justify-center mdscreen:text-center xl2:pl-150 xl:pl-50 lg:pl-30 pl-15 lg:pr-40 pr-15;                                                          
}                       
.visioninfo__itemdigit {
    @apply xl2:w-[305px] lg:w-[205px] md:w-[140px];       
}
.visioninfo__itemcontent {
    @apply xl2:w-[calc(100%_-_305px)] lg:w-[calc(100%_-_205px)] md:w-[calc(100%_-_140px)];                                     
}                                                         
.visioninfo__rowitem:nth-child(even) .visioninfo__itemdigit h2,
.visioninfo__rowitem:nth-child(even) .visioninfo__itemdigit h2 span,
.visioninfo__rowitem:nth-child(even) .visioninfo__itemdigit h6 {
    @apply text-Orange;          
}
/* Vision Info End */

/* Location Zigzag Start */
.locationzigzag__infoelement--title h4 {
    @apply xl:text-22 xl:leading-32 text-20 leading-26 font-Poppins font-600 text-White mb-10 capitalize;                          
}              
.locationzigzag__infoelement--item p img {
    @apply w-[18px] object-contain mr-10 xl:mt-5 mt-0;                   
    filter: invert(71%) sepia(33%) saturate(5152%) hue-rotate(338deg) brightness(103%) contrast(98%);    
}
.locationzigzag__infoelement--item p,
.locationzigzag__infoelement--item p a {
    @apply flex items-start w-fit xl:text-18 xl:leading-26 text-14 leading-20 font-400 font-Roboto text-White;         
}          
.locationzigzag__infoelement--item p a {
    @apply font-500 transition-all duration-500 ease-in-out hover:text-Orange;        
}
.locationzigzag__infoelement--item p span {
    @apply font-500;          
}
.locationzigzag__info .locationzigzag__infoelement:not(:last-child) {
    @apply lg:mb-30 mb-15;      
}           
.locationzigzag__infoelement .locationzigzag__infoelement--item:not(:last-child) {
    @apply lg:mb-15 mb-10;                    
}
.locationzigzag__imagemain--inner {
    @apply relative pt-[110.69%] z-1;  
}
.locationzigzag__imagemain--inner img {
    @apply absolute top-0 left-0 w-full h-full object-cover;                     
}           
.locationzigzag__imagemain {
    @apply relative lg:pb-0 lg:pr-0 pr-10 pb-10;           
}   
.locationzigzag__imagemain::before {
    @apply content-[''] absolute lg:top-40 lg:left-40 top-15 left-15 w-full h-full bg-Orange opacity-20;                              
}               
/* Location Zigzag End */

/* Plans System Start */
.plansystem__item--top {
    @apply w-[79px] h-[79px] flex justify-center items-center bg-Orange rounded-50_per lg:mb-25 mb-10 mx-auto;                   
}                         
.plansystem__item--top img {
    @apply max-w-[44px] object-contain;       
}           
.plansystem__item--bottom p {
    @apply xl:text-[21px] text-[16px] xl:leading-[28px] leading-22 font-700 font-Poppins text-Black text-center;                             
}      
.plansystem__circlegrid--border {
    @apply absolute xl:top-[45px] lg:top-[40px] left-0 w-full;     
}           
.plansystem__circlegrid--border img {
    @apply w-full object-contain h-auto xl:max-w-[900px] lg:max-w-[810px] mx-auto;                             
}  
.plansystem__item {
    @apply relative z-1 h-fit;       
}
.plansystem__circlegrid--inner .plansystem__item:first-child,
.plansystem__circlegrid--inner .plansystem__item:last-child {
    @apply xl:mt-[250px] lg:mt-[180px];
}
.plansystem__circlegrid--inner .plansystem__item:nth-child(2),
.plansystem__circlegrid--inner .plansystem__item:nth-child(4) {
    @apply xl:mt-[60px] lg:mt-[40px];        
}                                
.plansystem__bottomcirclelogo {
    @apply xl:max-w-[622px] lg:max-w-[370px] max-w-[370px] mx-auto xl:mt-[-180px] lg:mt-[-150px] mt-40;                                               
}      
.plansystem__bottomcirclelogo--inner {
    @apply xl:px-[90px] px-30 xl:pt-[145px] pt-50 xl:pb-70 pb-30 rounded-t-[100rem] bg-[#ffebdb];              
}                
.plansystem__bottomcirclelogo--inner img {
    @apply xxl:max-w-[434px] lg:max-w-[234px] max-w-[160px] object-contain mx-auto;                 
}            
.plansystem__item--bottom {
    @apply max-w-[230px] mx-auto;       
}       
/* Plans System End */    

/* Services Banner Start */
.servbanner-wrapper::before {
    @apply content-[''] absolute top-0 right-0 h-full w-[40%] bg-[#fdfcfc];  
}     
.servbanner__content--preheading h4 {
    @apply xl:text-[25px] xl:leading-[30px] text-16 leading-22 uppercase font-Inter font-600 text-Black w-fit relative lg:pr-[130px] pr-70;           
}
.servbanner__content--preheading h4::after {
    @apply content-[''] absolute top-50_per right-0 bg-Orange lg:h-4 h-[2px] lg:w-[110px] w-[50px];         
}
.serviceform__title h3 {
    @apply xl:text-[35px] xl:leading-44 text-22 leading-32;  
}
.serviceform__title.title-Black .pattern::before {
    @apply content-[''] lg:top-[-15px] lg:right-[-25px];             
}    
.shadow-serviceform {
    @apply border-0 border-b-2 border-solid border-Orange;      
}
.seo_form form .contactus__form--box input {
    @apply w-full py-5 outline-none border-1 border-solid border-[#c6c6c6] xxl:h-[59px] h-[38px] bg-White uppercase lg:text-16 lg:leading-22 text-14 leading-20 font-Inter text-Black font-400 lg:px-18 px-14;                     
}
.seo_form form .contactus__form--box input::placeholder {
    @apply opacity-70;          
}
.seo_form form .contactus__gridtwo {
    @apply grid gap-[12px] sm:grid-cols-2 grid-cols-1;             
}
.seo_form form .contactus__gridtwo,
.seo_form form .contactus__gridone {
    @apply mb-[12px];            
}
.seo_form form .contactus__checkgrp--title h5 {
    @apply lg:text-18 lg:leading-26 text-16 leading-22 text-Black font-600 opacity-70 pt-[12px] lg:mb-18 mb-10;               
}      
.seo_form form .contactus__checkgrpmain {
    @apply flex flex-wrap items-center xxl:gap-x-11 lg:gap-x-5 gap-y-2;  
}
.seo_form form .contactus__checkgrp--element {
    @apply flex items-center gap-x-2;           
}
.seo_form form .contactus__checkgrp--element label {
    @apply lg:text-18 lg:leading-26 text-16 leading-22 text-[#000000c4] font-Inter font-300 relative lg:pl-[36px] pl-[35px] cursor-pointer;                                
}            
.seo_form form .contactus__checkgrp--element label::before {
    @apply content-[''] absolute left-0 top-0 m-0 lg:w-[30px] w-[27px] lg:h-[25px] h-[22px] bg-White border-1 border-solid border-[#c6c6c6] rounded-none;
}                                                
.seo_form form .contactus__checkgrp--element input:checked + label::after {
    @apply content-[''] block absolute left-10 top-[1px] m-0 lg:w-[9px] w-[8px] lg:h-[18px] h-[16px] border-0 border-r-2 border-b-2 border-solid border-Orange rounded-none rotate-45;              
}               
.seo_form form .contactus__checkgrp--element input[type="checkbox"] {
    @apply appearance-none opacity-0 invisible;                                                    
}       
.seo_form form .contactus__acceptbox {
    @apply lg:pt-28 pt-15;    
}
.seo_form form .contactus__acceptbox--title h5 {
    @apply lg:text-18 lg:leading-26 text-16 leading-22 text-Black opacity-70 lg:mb-18 mb-10 font-Inter font-600;                       
}
.seo_form form .contactus__acceptbox--element {
    @apply flex items-start gap-x-2;
}
.seo_form form .contactus__acceptbox--element label {
    @apply lg:text-[15px] leading-20 text-[#444] font-Inter font-300 relative lg:pl-[36px] pl-[25px] cursor-pointer;                                      
}            
.seo_form form .contactus__acceptbox--element label a {
    @apply text-Orange transition-all duration-500 ease-in-out hover:text-Black;            
}
.seo_form form .contactus__acceptbox--element label::before {
    @apply content-[''] absolute left-0 top-0 m-0 lg:w-[22px] w-[20px] lg:h-[22px] h-[20px] bg-White border-1 border-solid border-[#c6c6c6] rounded-none;
}                     
.seo_form form .contactus__acceptbox--element input[type="checkbox"] {   
    @apply appearance-none opacity-0 invisible;                                   
}             
.seo_form form .contactus__acceptbox--element input:checked + label::after {
    @apply content-[''] block absolute lg:left-[7px] left-[6px] top-[2px] m-0 lg:w-[8px] w-[7px] lg:h-[14px] h-[12px] border-0 border-r-2 border-b-2 border-solid border-Orange rounded-none rotate-45;                   
}       
.seo_form form .contactus__form--submitbtn {
    @apply lg:pt-25 pt-15;            
}
.seo_form form .contactus__form--submitbtn input[type=submit] {
    @apply lg:h-[55px] h-[40px] w-full py-5 lg:px-18 px-14 flex justify-center items-center bg-Orange hover:bg-Black transition-all duration-500 ease-in-out text-White uppercase lg:text-20 lg:leading-[30px] text-16 leading-22 tracking-20 border-0 outline-none cursor-pointer;                               
}      
.servbanner__formmain {
    @apply lg:mb-[-150px];                 
}
/* Services Banner End */

/* Advantage Grid Start */
.advantagegrid__itemicon img {
    @apply max-w-[75px] object-contain block lg:h-[72px] h-[52px] smscreen2:mx-auto;     
}      
.advantagegrid__itemtext h6 {
    @apply xl:text-[23px] xl:leading-33 text-16 leading-22 font-Inter font-500 text-White smscreen2:text-center mt-20;            
}               
.advantagegrid__itemtext {
    @apply lgscreen:max-w-[250px] smscreen2:mx-auto;   
}      
/* Advantage Grid End */

/* Ebook Req Start */
.ebookreq__image img {
    @apply max-w-[220px] object-contain h-auto;             
}
.ebookform .ebookreq__formplate {
    @apply lg:h-[63px] sm:h-[53px] h-[45px] bg-White w-full lg:pl-37 pl-30 relative justify-between flex items-center;                    
}                         
.ebookform .ebookreq__formplate::before {
    background-image: url('./../../images/envelope-regular.svg');  
    @apply content-[''] absolute lg:left-20 left-10 top-50_per translate-y-minus_50 bg-no-repeat bg-contain block h-[18px] w-[18px] rotate-[-30deg];                   
}          
.ebookform input {
    @apply border-0 outline-none pl-15 ml-10 border-l-2 pr-15 border-solid border-[#e3e3e3] lg:text-16 lg:leading-22 text-14 leading-20 font-Inter font-400 text-Black lg:w-[calc(100%_-_310px)] sm:w-[calc(100%_-_240px)] w-full;                                      
}                       
.ebookform input::placeholder {
    @apply opacity-50;                    
}
.ebookform button {
    @apply lg:py-15 py-8 lg:px-30 px-20 bg-Black hover:bg-Orange transition-all duration-500 ease-in-out flex items-center gap-x-[10px] lg:text-20 lg:leading-[30px] text-14 leading-20 font-700 font-Poppins text-White sm:border-[3px] border-0 border-solid border-White cursor-pointer h-full smscreen2:mx-auto;                                         
}             
.ebookform button span {
    @apply lg:w-[35px] w-[25px] lg:h-[35px] h-[25px] rounded-50_per flex justify-center items-center bg-White;            
}
.ebookform button span img {
    @apply object-contain lg:w-[16px] w-[12px];         
    filter: invert(65%) sepia(77%) saturate(2218%) hue-rotate(338deg) brightness(102%) contrast(98%);       
}     
.ebookform .ebookreq__formbtn {
    @apply pt-15;
}       
/* Ebook Req End */

/* Services General Container Start */
.services-generalct-row {
    @apply lg:pt-40 pt-20;              
}
.services_content h1,
.services_content h2,
.services_content h3,
.services_content h4,
.services_content h5,
.services_content h6 {
    @apply xxl:mb-35 lg:mb-25 mb-15;     
}
.services_content h3 {
    @apply text-[32px] lg:text-[42px] lg:leading-[55px] leading-[42px];    
}     
.services_content h4 {
    @apply text-24 leading-[30px] lg:text-32 lg:leading-[42px];
}
.services_content h3, .services_content h4 {
    @apply xxl:pt-30 lg:pt-10 pt-10;              
}
.services-generalct-rowimginner {
    @apply relative pt-[42.82%];
}
.services-generalct-rowimginner img {
    @apply absolute top-0 left-0 w-full h-full object-cover object-top;               
}
.services-generalct-rowimg {
    @apply xxl:py-60 sm:py-30 py-20;          
}
.services-generalct .note-orange p {
    @apply text-opacity-70;        
}
.services-generalct .note-orange h6 {
    @apply lg:text-[23px] lg:leading-33 text-18 leading-26 font-Poppins font-600 text-Orange uppercase; 
}
.services-generalct .note-orange ul {
    @apply flex flex-col gap-y-3 pt-20 m-0;                    
}       
.services-generalct .note-orange ul li {
    @apply relative pl-25 text-Black text-opacity-70 lg:text-17 lg:leading-26 text-14 leading-20 block;
}                     
.services-generalct .note-orange ul li a {
    @apply transition-all duration-500 ease-in-out text-Black hover:text-Orange whitespace-normal;
    word-break: break-word;             
}
.services-generalct .note-orange ul li::before {
    @apply content-[''] absolute top-[6px] left-0 w-[12px] h-[12px] bg-[url(./../../images/list-polygon.svg)] bg-cover bg-no-repeat bg-center;
}                        
/* Services General Container End */

/* Testimonial Slider Start */
.testimonialctm__slideitem {
    @apply xxl:px-75 lg:px-45 px-20 lg:py-50 py-30 lg:pb-50 sm:pb-30 pb-[120px];                              
}     
.testimonialctm__slideitem--text h6 {
    @apply font-Inter font-400 xxl:text-30 xxl:leading-40 lg:text-24 lg:leading-34 text-18 leading-26 text-White italic;   
}
.testimonialctm__slideitem--text-small h6 {
    @apply font-Inter font-400 text-18 leading-26 text-White italic;   
}
.testimonialctm__slideitem--avtarimage img {
    @apply lg:w-[80px] w-[50px] lg:h-[80px] h-[50px] object-cover object-top;            
}
.testimonialctm__slideitemname h5 {
    @apply font-Poppins lg:text-[27px] lg:leading-38 text-18 leading-26 font-700 text-White mb-5;                  
}             
.testimonialctm__slideitemname-small h5 {
    @apply font-Poppins text-18 leading-26 font-700 text-White mb-5;                  
}             
.testimonialctm__slideitemdate span {
    @apply font-Roboto lg:text-[20px] lg:leading-[30px] text-14 leading-20 font-400 text-White;
} 
.testimonialctm__slideitemdate-small span {
    @apply font-Roboto text-14 leading-24 font-400 text-White;
}      
.testimonialctm__slideitem--logo img {
    @apply lg:max-w-[170px] max-w-[120px] object-contain;
}             
.testimonialctm__slideitem {
    @apply smscreen2:bg-Black smscreen2:border-1 smscreen2:border-solid smscreen2:border-Orange sm:border-0 sm:border-t-2 sm:border-solid sm:border-t-Orange;               
}              
.testi-navigation .testi__arrow {
    @apply shadow-testimonial_arrow lg:w-[48px] w-[30px] lg:h-[48px] h-[30px] flex justify-center items-center rounded-50_per bg-White z-2;            
} 
.testi-navigation .testi__arrow-small {
    @apply shadow-testimonial_arrow lg:w-[48px] w-[30px] lg:h-[48px] h-[30px] flex justify-center items-center rounded-50_per bg-White z-2;            
}          
.testimonialctm__slider {
    @apply lg:px-24 px-15;       
}
.testi-navigation .swiper-button-prev {
    @apply lg:left-[0px] left-[0px];
}
.testi-navigation .swiper-button-next {
    @apply lg:right-[0px] right-[0px]; 
}      
.testi-navigation .testi__arrow-small.swiper-button-prev {
    @apply lg:left-[-24px] left-[0px];
}
.testi-navigation .testi__arrow-small.swiper-button-next {
    @apply lg:right-[-24px] right-[0px]; 
}   
.testi-navigation .testi__arrow-small.swiper-button-prev img {
    @apply -ml-4
}
.testi-navigation .testi__arrow-small.swiper-button-next img {
    @apply -mr-4
}        
/* Testimonial Slider End */

/* Newsletter Start */
.newsletterctm__imageinner img {
    @apply object-contain object-bottom h-full max-h-[265px];           
}
.newsletterctm__contentinner {
    @apply lgscreen:text-center;     
}
.newsletterctm__contentinner .title h3 {
    @apply text-24 leading-[30px] lg:text-[36px] lg:leading-[40px];                           
}
.newsletterform .newsletter__formplate {
    @apply lg:h-[52px] sm:h-[53px] h-[45px] bg-White w-full lg:pl-37 pl-30 relative justify-between flex items-center;                    
}                               
.newsletterform .newsletter__formplate::before {
    background-image: url('./../../images/newsform-icon.png');  
    @apply content-[''] absolute lg:left-20 left-10 top-50_per translate-y-minus_50 bg-no-repeat bg-contain block h-[18px] w-[18px];                      
}             
.newsletterform .newsletterform__inputelement {
    @apply lg:w-[calc(100%_-_200px)] sm:w-[calc(100%_-_200px)] w-full;     
}         
.newsletterform .newsletterform__inputelement input {
    @apply border-0 outline-none pl-10 lg:text-16 lg:leading-22 text-14 leading-20 font-Inter font-400 text-Black w-full;                                      
}                                              
.newsletterform .newsletterform__inputelement input::placeholder {
    @apply opacity-50;                        
}
.newsletterform .newsletterform__btn input[type=submit] {
    @apply lg:py-15 py-8 lg:px-25 sm:px-20 px-10 bg-Orange hover:bg-Black transition-all duration-500 ease-in-out flex items-center gap-x-[10px] lg:text-[15px] lg:leading-[20px] text-14 leading-20 font-700 font-Poppins text-White sm:border-[3px] border-[1px] border-solid border-White cursor-pointer h-full smscreen2:mx-auto;                                                     
}                                        
.newsletterform .newsletterform__btn {
    @apply relative;
}
.newsletterform .newsletterform__btn::after {
    @apply content-[''] absolute top-[-2px] right-[-2px] w-[12px] h-[12px] border-0 border-solid border-Black border-t-[3px] border-r-[3px] z-1;
}                                                   
/* Newsletter End */

/* FAQs Start */
.faqs-wrapper .accordion-container .accordion-title h4 {
    @apply text-Black font-Poppins text-16 leading-22 lg:text-22 lg:leading-[36px] font-600 pr-20 sm:pr-25;                                     
}                    
.faqs-wrapper .accordion-container .accordion-row.open .accordion-title h4 {
    @apply text-Orange;  
}
.faqs-wrapper .accordion-container .accordion-title {
    @apply cursor-pointer;         
}
.faqs-wrapper .accordion-container .accordion-row.open .accordion-title__plusicon {
    @apply hidden;
}
.faqs-wrapper .accordion-container .accordion-row.open .accordion-title__minusicon {
    @apply block;     
}
.faqs-wrapper .accordion-container .accordion-row .accordion-title__plusicon span,
.faqs-wrapper .accordion-container .accordion-row .accordion-title__minusicon span {
    @apply lg:w-[35px] w-[28px] lg:h-[35px] h-[28px] bg-Orange flex items-center justify-center;           
}
.faqs-wrapper .accordion-container .accordion-row .accordion-title__plusicon span img,
.faqs-wrapper .accordion-container .accordion-row .accordion-title__minusicon span img {
    @apply lg:max-w-[16px] max-w-[12px] object-contain;      
}               
.faqs-wrapper .accordion-container .accordion-row.open .accordion-content {
    @apply block;
}
.faqs-wrapper .accordion-container .accordion-row .accordion-content {
    @apply hidden lg:px-40 px-20 lg:py-28 py-20 !pt-0;                    
}     
.faqs-wrapper .accordion-container .accordion-row .accordion-content p {
    @apply text-Black text-opacity-75 text-[17px] leading-[1.5] font-400 tracking-20 not-italic relative block mb-20 last:mb-0;
}
.faqs-wrapper .accordion-container .accordion-row .accordion-content p a {
    @apply font-700 transition-all duration-500 ease-in-out text-Orange hover:text-Font no-underline;         
} 
.faqs-wrapper .accordion-container .accordion-row:not(:last-child) {
    @apply mb-15;          
} 
.faqs-wrapper .accordion-title {
    @apply lg:py-25 py-20 lg:px-28 px-20;                     
}                
.faqs-wrapper .accordion-container .accordion-row {
    @apply border-2 border-solid border-[#e1e1e1] shadow-faqs__shadow bg-White;                        
}          
.faqs-wrapper .accordion-container .accordion-row.open {
    @apply border-Orange;       
}              
/* FAQs End */

}

/* Responsive CSS Start */

@screen smscreen2 {
    .testimonialctm__slideitem {
        background-image: none !important;     
    }
}
/* Responsive CSS End */
